@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');
/* CSS Variables */
:root {
  --primary-color: #f92c3c;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

body {
  font-family: 'Hind Vadodara', sans-serif;
  background-color: white;
  margin: 0;
  color:#252529;
  line-height: 1.6;
}

img {
  width: 100%;
  
}

a {
  text-decoration: none;
  color: #ccc;
}

/* Section */
.section {
  padding: 3vw 0;
}


.section h1 {
  font-family: 'Red Hat Display', sans-serif;
  padding-top: 0vw;
  margin-bottom: 0;
  font-size: 5.5vw;
}

*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
    ;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  margin-top: 3vw;
  margin-left: 0vw;
  display: inline-block;
  font-weight: 900 !important;
  font-size: 6vw;

  position: relative;
  color: rgba(0,0,0,.8);
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}



section#presentation {
  background: rgb(66,115,236);
 background: linear-gradient(90deg, rgba(66,115,236,1) 20%, rgba(0,212,255,1) 93%);
  padding: 4vw 0;
}


.section#presentation h3 {
  font-size: 2.5vw;
  color: white;
}

.section#presentation p {
  font-family: 'Khula', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  color: white;
}

.laptop {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.laptop img{
  width: 100%;
  height: 100%;
}

/* Footer */
footer .footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2vw;
  text-align: left;
  font-size: 1.1vw;

}

footer .footer-cols ul {
  list-style: none;
}

footer .footer-cols ul li:first-child {
  font-size: 1.5vw;
  padding-bottom: 1vw;
  border-bottom: #444 solid 0.1vw;
  margin-bottom: 1vw;

}

footer .footer-cols ul li a{
  color: black;
  font-size: 1.2vw;
}

footer .footer-bottom {
  background: #333;
  font-size: 1.4vw;
  padding: 1vw;
  color: white;

}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3vw;
}

.container h3{
  font-size: 3vw;
}

.container a{
  font-size: 1.3vw;
}

.lead {
  margin-bottom: 3vw;
  font-size: 1.7vw;
}

.lead1 {
  text-align: justify;
  width: 90%;
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  align-content: center;
  padding: 1.3vw;
  color: #fff;
  display: inline-block;
  border-radius: 15px;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}


/* Navigation */
nav {
  height: 5vw;
  width: 100%;
  background:#181820;
  color: white;
  position: fixed;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 8vw;
  text-align: center;
  text-decoration: none;
  margin-top: 0.5vw;
  padding-bottom: 1vw;
  color: white;
  text-decoration: none;
}
nav li:hover {
  background-color: #17cb9e;

  /*background: radial-gradient(circle, rgba(23,203,158,1) 0%, rgba(23,203,124,1) 86%);*/
}
nav a#openup {
  display: none;
}

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }

  nav a#openup:after {
    content: '|||';
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.nav-element{
  height: 4.5vw;
  font-weight: 500;
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .laptop {
    margin-top: 0;
    padding-top: 0;
    grid-template-columns: 1fr;
  }

  footer .footer-cols {
    display: none;
  }
}

@media screen and (max-height: 580px) {
}
