@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(241, 245, 251);
    background: linear-gradient(103deg, rgba(241, 245, 251, 1) 0%, rgba(228, 236, 248, 1) 52%, rgba(241, 245, 251, 1) 100%);
}

::-webkit-scrollbar-thumb {
    background: #1a1a22;
}

* {
    margin: 0;
    font-family: 'Gilroy Medium';
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-width: 310px;
}

body {
    background: rgb(252, 253, 255);
    background: linear-gradient(103deg, rgba(252, 253, 255, 1) 0%, rgba(239, 242, 249, 1) 100%);
    font-size: 16px;
}

.main,
.student,
.company,
.mision,
.vision,
.contact {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .main {
        padding-top: 17vh;
    }
}

.title {
    color: #282A3F;
    margin: 2rem;
    font-size: calc(26px + 2.5vw);
    font-family: 'Gilroy Medium';
    text-align: center;
}

.cta-btn {
    background: #2699FB;
    padding: 1.2rem 3rem;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    box-shadow: 0px 10px 10px rgba(93, 190, 255, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 1rem;
    text-decoration: none;
}

.cta-btn:hover {
    background: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-5px);
}

.mockup {
    margin: 3rem;
    width: 65%;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.student-container,
.company-container,
.mision-container,
.vision-container,
.contact-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin-top: 4rem;
}

.contact-container {
    align-items: center;
    justify-content: space-around;
    margin: 5rem 0;
}

.student-container,
.mision-container {
    flex-direction: row-reverse;
}

.left-col,
.right-col {
    display: flex;
}

.left-col,
.left-col2 {
    box-sizing: border-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.left-col2 {
    justify-content: flex-start;
    align-items: flex-end;
}

.right-col {
    width: 50%;
}

.sub-title,
.sub-title2 {
    color: #091841;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-family: 'Gilroy Medium';
    width: 80%;
}

.text,
.text2 {
    color: #697785;
    font-size: 1rem;
    line-height: 1.8rem;
    width: 70%;
}

.sub-title2,
.text2 {
    text-align: end;
}

.mockup-right-col {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

footer {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy-container {
    margin-top: 2rem;
}

.fab {
    margin: 0 1rem;
}

.contact-title {
    color: #282A3F;
    font-size: calc(24px + 2.4vw);
    font-family: 'Gilroy Medium';
    text-align: center;
    margin-bottom: 2rem;
}

.contact-subtitle {
    color: #282A3F;
    font-size: calc(13px + 1.5vw);
    font-family: 'Gilroy Medium';
    text-align: center;
}

.contact-btn {
    width: 15vw;
    padding: 1rem 0;
    margin: 2rem 0;
    border-radius: 10px;
    font-size: calc(14px + 1vw);
    font-family: 'Gilroy Medium';
    text-align: center;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.contact-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.email {
    background: #282A3F;
    color: #ffffff;
}

.facebook {
    background: #4267B2;
    color: #ffffff;
}

.instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
}

@media screen and (max-width: 1000px) {
    .main {
        padding-top: 15vh;
    }
    .student,
    .company,
    .mision,
    .vision,
    .contact {
        padding-top: 5vh;
    }
    .student-container,
    .company-container,
    .mision-container,
    .vision-container,
    .contact-container {
        flex-direction: column;
        margin: 2rem;
    }
    .left-col,
    .left-col2 {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .sub-title,
    .sub-title2,
    .text,
    .text2 {
        width: 90%;
        text-align: center;
    }
    .right-col {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .mockup {
        width: 80%;
        margin-bottom: 0;
    }
    .mockup-right-col {
        width: 80%;
    }
    .contact-btn {
        width: 30vw;
    }
}

@media screen and (max-width: 550px) {
    .cta-btn {
        padding: 1rem 2rem;
    }
    .mockup {
        width: 90%;
    }
    .mockup-right-col {
        width: 90%;
    }
    .student-container,
    .company-container,
    .mision-container,
    .vision-container,
    .contact-container {
        flex-direction: column;
        margin: .5rem;
    }
    .left-col,
    .left-col2 {
        padding: 2rem;
    }
    .sub-title,
    .sub-title2,
    .text,
    .text2 {
        width: 100%;
    }
    .contact-btn {
        width: 60vw;
    }
}