body{
    margin:0;
    padding: 0;
    background: black;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    overflow: hidden;
}
.banner{
    height: 100vh;
    width: 100%;
    padding-top: 0%;
    margin-top: -1%;
    background:url('assets//background1.png');
    background-position: top;
    background-size: cover;
    /*background-repeat: no-repeat;*/
}
nav{
    margin-top: 0;
    padding-top: 0;
}

.navbar{
    margin-top: 0;
    padding-top: 0;
}

.nav_item{
    padding-left: 6%;
}
.nav_item_2{
    position: absolute;
    left: 936px;
    top: 27px;
}
.nav_item_3{
    position: absolute;
    left: 1140px;
    top: 15px;
}

h1{
    padding-left: 8%;
    padding-top: 0%;
}

.banner .navbar{
    margin-top:2%;
}
.banner .navbar-brand{
    color: black; 
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 10%;
}
.title{
    height: 100vh;
    width: 100%;
    background:url('assets//InterLab_logo.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20%;
    padding: 10px 80px;
}



.banner .nav{
    margin-right: 10%;
}


.info2{
    margin-left: 20%;
    margin-top: 1%;
}
.info3{
    margin-left: 12%;
    margin-top: 1.6%;
}

.banner .info{
    margin-top: 15.5%;
    margin-left: 14.5%;
    transform: translateY(-10%);
}
.banner .info h1{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0px;
}
.banner .info2 p{
    font-size: 1.2em;
    font-weight: 500;
    color: #282A3F;
    letter-spacing: 0px;
}
.banner .info3 a{
    height: 100vh;
    width: 100%;
    background:url('assets//button_start.png');
    padding: 18px 120px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
}

.laptop{
    position: relative;
    top: -195px;
    left: -96px;
}
.banner .laptop a{
    height: 100vh;
    width: 100%;
    margin-left: 0%;
    background:url('assets//laptop_cut.png');
    padding: 470px 520px;
    font-size: 1em;
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    border-radius: 40px;
}

.banner .info2 a:hover{
    background: #1313DA;
}